* {
  margin: 0;
  padding: 0;
}

body {
  z-index: 0;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

#cart {
  width: 30px;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1961px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  opacity: .7;
  z-index: -1;
}

@media screen and (max-width: 1961px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -981px;   /* 50% */
  }
}
