* {
  margin: 0;
  padding: 0;
}

body {
  z-index: 0;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

#cart-pic {
  width: 30px;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1961px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  opacity: .7;
  z-index: -1;
}

@media screen and (max-width: 1961px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -981px;   /* 50% */
  }
}

#shop {
  padding: 50px 200px 50px 200px;
}

#content {
  display: grid;
  padding: 20px;
  grid-auto-flow: column;
}

.card {
  padding: 20px 10px 10px 10px;
  border: 2px solid black;
  border-radius: 25px;
  width: 220px;
  height: 320px;
  display: grid;
  justify-content: center;
}

.card img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

#cart {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 500px;
  background-color: white;
}

.hide {
  display: none;
}