* {
  margin: 0;
  padding: 0;
  color: #362C28;
}

body {
  z-index: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 100px;
  align-items: center;
  padding: 0 50px;
  background-color: #FFF5B2;
  z-index: 1001;
}

#nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

nav a {
  text-decoration: none;
  color: #362C28;
  font-size: 24px;
  font-weight: bold;
}

nav a:hover {
  color: #c6a9ec;
}

#store-name {
  font-size: 40px;
}

#cart-div {
  font-size: 20px;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 2px;
}

#cart-div:hover {
  filter: invert(71%) sepia(72%) saturate(532%) hue-rotate(200deg) brightness(99%) contrast(87%);
  cursor: pointer;
}

#cart-pic {
  height: 30px;
  filter: invert(12%) sepia(7%) saturate(1937%) hue-rotate(331deg) brightness(94%) contrast(82%);
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: .5;
  transition: opacity .5s ease-in 0s;
}

#home.show {
  opacity: 1;
}

#home-content {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  background-color: #F3C969;
  padding: 20px;
  text-decoration: none;
}

#home-content div{
  color: white;
}

#home-content:hover {
  background-color: #DECDF5;
  cursor: pointer;
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1961px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  opacity: .7;
  z-index: -1;
}

@media screen and (max-width: 1961px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -981px;   /* 50% */
  }
}

#shop {
  padding: 150px 10vw 50px 10vw;
  background-color: #FFFDEF;
  opacity: .5;
  transition: opacity .5s ease-in 0s;
}

#shop.show {
  opacity: 1;
}

#content {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.card {
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .info {
  padding: 7px 0px 7px 0px;
}
.card .img {
  height: 15rem;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card button {
  color: white;
  background-color: #362C28;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border: none;
  padding: 12px;
}

button:hover {
  opacity: .8;
  cursor: pointer;
}

#cart {
  position: fixed;
  z-index: 1001;
  top: 0px;
  width: 33%;
  height: 100%;
  background-color: #FFFDEF;
  right: -110%;
  overflow-y: scroll;
  margin: 0 auto;
  transition: right .5s ease-in-out 0s;
}

#cart.show {
  right: 0;
}

#cart-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px auto;
}

#cart #head {
  font-size: 30px;
  font-weight: 900;
  padding: 45px 0 0;
}

#cart #cart-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 45px;
}

#cart-bottom #total {
  padding: 10px;
  text-align: center;
}

#cart-bottom button{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border: none;
  background-color: #F6D88E;
}
#cart #total {
  font-size: 24px;
  font-weight: bold;
}

#cart-contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 16px 0;
}

#close-cart {
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  filter: invert(12%) sepia(7%) saturate(1937%) hue-rotate(331deg) brightness(94%) contrast(82%);
}

#close-cart:hover {
  opacity: .8;
  cursor: pointer;
}

.cartContent {
  display: flex;
  padding: 16px 0 0;  
  gap: 15px;
}

.cartDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;  
}

.cartPrice {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartPrice button {
  border: none;
  background: none;
}

.cartPrice button:hover {
  text-decoration: underline;
}

.cart-img {
  width: 100px;
  height: 125px;
}
.cartContent img {
  width: 100px;
  height: 125px;
  object-fit: cover;
}

.cart-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
}

.cart-input img {
  height: 30px;
  width: 30px;
  filter: invert(12%) sepia(7%) saturate(1937%) hue-rotate(331deg) brightness(94%) contrast(82%);
}

.cart-input img:hover {
  cursor: pointer;
  opacity: .7;
}

input {
  height: 42px;
  border: solid 1px gainsboro;
  width: 64px;
  text-align: center;
  font-weight: 600;
  font-size: .9rem;
}

input:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#overlay {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0.0; /* see below for cross-browser opacity */
  z-index: 1000;
  background-color: rgb(0, 0, 0);
  transition: opacity .5s ease-in-out 0s;
}

#overlay.show {
  opacity:0.7;
}